body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-size: 12px;
    color: #333;
}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}

#header{
    width: 900px;
    height: 30px;
    margin: 0 auto;
    
    background: #f0f0f0;
}

#header .logo{
    width: 100px;
    height: 30px;
    float: left;
    color: red;
}
#header .member{
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: right;
    /*background: green;*/
    cursor: pointer;
    /*border: 1px solid red;*/
    position: relative;

}
#header ul{
    position: absolute;
    top: 30px;
    left: -30px;
    background: #FBF7E1;
    width: 100px;
    height: 110px;
    border: 1px solid #999;
    border-top: none;
    padding-top: 10px;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
}

#header ul li {
    height: 25px;
    line-height: 25px;
    text-indent: 20px;
    letter-spacing: 1px;
}

#header ul li a{
    display: block;
    text-decoration: none;
    color: #333333;

}

#header ul li a:hover{
    background:#fc0 ;

}

#header .login{
    float: right;
    width: 35px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

#screen{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9998;
    filter:alpha(opacity=0);
    opacity: 0;
    display: none;

}

#test{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;background: red;
}

#login {
    width: 350px;
    height: 250px;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    background: #fff;
    z-index: 9999;

}

#login h2{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    background: #FBF7E1;
    margin: 0;
    padding: 0;
    border-bottom:1px solid #ccc ;
    margin-bottom: 20px;
    cursor: move;
}

#login h2 a{
    float: right;
    color: #ffcc00;
    position: relative;
    top:0px;
    right: 8px;
    cursor: pointer;
}

#login div.user,#login div.pass{
    font-size: 14px;
    color: #666666;
    padding: 10px 0;
    text-align: center;
}

#login input.text{
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
}
#login .button{
    text-align: center;
    padding: 10px 0;
}
#login input.submit{
    width: 107px;
    height: 30px;
    background: lawngreen;
    border: none;
    cursor: pointer;

}

#login .other{
    text-align: right;
    padding: 15px 10px;
    color: #666;
}


#share{
    width: 210px;
    height: 315px;border: 1px solid #ccc;
    position: absolute;
    top: 0px;
    left: -211px;
    background: #fff;
}

#share h2{
    height:30px;
    line-height:30px;
    margin:0;
    padding:0;
    background:#eee;
    font-size:14px;
    color:#666;
    text-indent:10px;
}
#share ul{
    padding:3px 0 2px 5px;
    height:254px;
}
#share ul li{
    width:96px;
    height:28px;
    padding:2px;
    float:left;
}
#share ul li a{
    display:block;
    width:95px;
    height:26px;
    line-height:26px;
    text-decoration:none;
    text-indent:30px;
    color:#666;
}
#share ul li a:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #eee;
    color: #06f;
}

#share .share_footer{
    height:26px;
    background:#eee;
    position: relative;
}

#share .share_footer a{
    position: absolute;
    top: 7px;
    left:140px;
    text-decoration:none;
    color:#666;
    padding:0 0 0 13px;
    background:#eee ;
}

#share .share_footer a:hover{
    color:#06f;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


#share .share_footer span{
    display: block;
    width: 24px;
    height: 88px;
    position: absolute;
    background: #ddd;
    top: -230px;
    left: 210px;
    cursor: pointer;
}






